html {
    background-color: #fff1e5;
}

#article {
    margin-left: 18%;
    margin-top: 10%;
}

p {
    margin-right: 30%;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

li {
    margin:  10px 0;
    list-style-type: none;
}

h1 {
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    line-height: 3rem;
    font-size: 30px;
}

hr {
    margin-right:  30%;
    width:  70%;
}

#counties {
    display: block;
    width: 100%;
    max-width: 700px;
}

#references {
    margin-left: 15%;
    margin-right:  20%;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
time {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
    font-size: 0.8125rem;
    line-height: 1rem;
}
#author {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

#fieldworkers {
    height: auto;
    max-width: 600px;
    vertical-align: top;

}

figcaption {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
