 /* Three image containers (use 25% for four, and 50% for two, etc) */
.hero-column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.hero-row::after {
  content: "";
  clear: both;
  display: table;
} 



html {
    background-color: #fff;
}


 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 100px !important;
}
table {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none !important;
}
.center {
    text-align:  center;
    padding: 10px;

}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.fa-brands {
    padding: 10px;
}
.created_at_text {
    margin-top: 5px !important;
    margin-bottom: 5px;
}
#product-image {
    display: block;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}
.post-title {
    text-decoration: none;
    color: #80243F;
    font-family: "SemplicitaPro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Radio Canada', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}

#article-header {
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9375rem;
    line-height: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 600px;
    max-width: 600px;
}
#audio {
    display: block;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    margin-bottom: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

p {

    /*font-family: nyt-imperial,georgia,'times new roman',times,serif;*/
    font-family: 'Spectral', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
    font-size: 1.15rem;
    line-height: 1.875rem;
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.blockquote-signature {
    float: right;
    text-decoration: none;
}
.recent-posts {
    text-align: center;
    font-family: "SemplicitaPro","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 50px;
}
.recent-posts-hr {
    width: 100%;
    margin: auto !important;
    margin-bottom: 25px !important;
}
h3, h4 {

    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    width: 100%;
    max-width: 600px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    border-left: 5px solid purple;
    padding-left: 10px;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.1rem;
    line-height: 1.875rem;
    font-style: italic !important;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 45px auto !important;
    padding-right: 5px;
}


h1 {
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    line-height: 3rem;
    font-size: 1.9rem !important;
}
.post_body {
    font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
}
hr {
    width: 50%;
    margin: auto !important;
    margin-bottom: 25px !important;
}
.image-class {
    display: block;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.image-class-sm {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.figcaption-sm {
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

td h2, tr th {
    text-align: center;
}

h2 {
    font-size: 1.6rem !important;
}

.bottom-td {
    
    padding-bottom: 25px;
}
.bottom-row {
    border-spacing: 15px;
}
tbody {
    background-color: whitesmoke;
}


time {
    display: block;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 500;
    color: #333;
    margin-bottom: 2rem;
    font-size: 0.8125rem;
    line-height: 1rem;
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#author {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

#fieldworkers {
    height: auto;
    vertical-align: top;
}

#reference-header {
    text-align:  center;
}
figcaption {
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1rem;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    min-height: 325p;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
}

#georgia-folklife-project {
    text-decoration: none;
}


ul.topnav {
    font-family: 'Bebas Neue', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001246;
    font-size: 1.25rem;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.topnav li a:hover {
  background-color: #333399;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p {
            font-family: 'Spectral', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;

        /*font-family: nyt-imperial,georgia,'times new roman',times,serif;*/
        font-size: 1.25rem;
        line-height: 1.875rem;
        width: calc(100% - 20px);
        max-width: 600px;
        margin-left: 10px;
        margin-right: 10px;
    }
    time {
        width: calc(100% - 40px);
        max-width: 600px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #fieldworkers {
        height: auto;
        width: calc(100% - 40px);
        max-width: 600px;
        margin-left: 10px;
        margin-right: 10px;

    }
    figcaption {
        font-size: 0.85rem;
    }
    #article-header {
      width: calc(100% - 40px);
      max-width: 600px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      text-align: left;
    }

    #author {
        width: calc(100% - 40px);
        max-width: 600px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    p {
            font-family: 'Spectral', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;

/*        font-family: nyt-imperial,georgia,'times new roman',times,serif;
*/        font-size: 1.15rem;
        line-height: 1.875rem;

    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
